body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
body #menu {
  position: absolute;
  z-index: 10;
}
body #container {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  z-index: 1;
  background: #fff;
  background: -moz-linear-gradient(#749bff, black);
  background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(black), to(#749bff));
  background: -webkit-linear-gradient(#749bff, black);
}
body canvas {
  z-index: 1;
}
body #close {
  display: none;
}
