body {
  overflow: hidden;
  margin: 0;
  padding: 0;

  #menu{
    position: absolute;
    z-index: 10;
  }
  #container {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    z-index: 1;
    background: #000;
    // background: -moz-linear-gradient(#749bff, #000);
    // background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#000), to(#749bff));
    // background: -webkit-linear-gradient(#749bff, #000);
    // transition: -webkit-filter 0.3s;

  }
  canvas{
    z-index: 1;
  }
  #close{
    display: none;
  }
  #name{
    font-family: Century Gothic;
    display: none;
    position: absolute;
    z-index: 20;
    text-align: center;
    width: 100%;
    text-align: center;
    color: #fff;
    bottom: 20px;

}
    h2.name{
      font-size: 50px;
      color: #fff;
      text-transform: uppercase;
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
      letter-spacing: 10px;
      font-weight: initial;


    }
  

  #info{
    width: 300px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 25;
    color: #fff;
    position: absolute;
    display: none;
    margin: 50px;

    #info-abstract{
      margin: 15px;
      font-family: Cambria;
    }
  }
  #photo{
    position: absolute;
    z-index: 20;
    margin-top: 500px;
    margin-left: 900px;
    display: none;

  }
    img{
      width: 60%;
    }

  .circle-container {
  position: absolute;
  width: 23em;
  height: 23em;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin: 5em auto 0;
  left: 35%;
  right:35%;
  top: 15%;
  z-index: 20;
  display: none;
  

}

  .circle-container li img{
    /*padding: 50px;*/
  }
  .circle-container > * {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6em;
    height: 6em;
    margin: -3em;
  }
  .circle-container > *:nth-of-type(1) {
    -moz-transform: rotate(0deg) translate(13em) rotate(-0deg);
    -ms-transform: rotate(0deg) translate(13em) rotate(-0deg);
    -webkit-transform: rotate(0deg) translate(13em) rotate(-0deg);
    transform: rotate(0deg) translate(13em) rotate(-0deg);
  }
  .circle-container > *:nth-of-type(2) {
    -moz-transform: rotate(45deg) translate(13em) rotate(-45deg);
    -ms-transform: rotate(45deg) translate(13em) rotate(-45deg);
    -webkit-transform: rotate(45deg) translate(13em) rotate(-45deg);
    transform: rotate(45deg) translate(13em) rotate(-45deg);
  }
  .circle-container > *:nth-of-type(3) {
    -moz-transform: rotate(90deg) translate(13em) rotate(-90deg);
    -ms-transform: rotate(90deg) translate(13em) rotate(-90deg);
    -webkit-transform: rotate(90deg) translate(13em) rotate(-90deg);
    transform: rotate(90deg) translate(13em) rotate(-90deg);
  }
  .circle-container > *:nth-of-type(4) {
    -moz-transform: rotate(135deg) translate(13em) rotate(-135deg);
    -ms-transform: rotate(135deg) translate(13em) rotate(-135deg);
    -webkit-transform: rotate(135deg) translate(13em) rotate(-135deg);
    transform: rotate(135deg) translate(13em) rotate(-135deg);
  }
  .circle-container > *:nth-of-type(5) {
    -moz-transform: rotate(180deg) translate(13em) rotate(-180deg);
    -ms-transform: rotate(180deg) translate(13em) rotate(-180deg);
    -webkit-transform: rotate(180deg) translate(13em) rotate(-180deg);
    transform: rotate(180deg) translate(13em) rotate(-180deg);
  }
  .circle-container > *:nth-of-type(6) {
    -moz-transform: rotate(225deg) translate(13em) rotate(-225deg);
    -ms-transform: rotate(225deg) translate(13em) rotate(-225deg);
    -webkit-transform: rotate(225deg) translate(13em) rotate(-225deg);
    transform: rotate(225deg) translate(13em) rotate(-225deg);
  }
  .circle-container > *:nth-of-type(7) {
    -moz-transform: rotate(270deg) translate(13em) rotate(-270deg);
    -ms-transform: rotate(270deg) translate(13em) rotate(-270deg);
    -webkit-transform: rotate(270deg) translate(13em) rotate(-270deg);
    transform: rotate(270deg) translate(13em) rotate(-270deg);
  }
  .circle-container > *:nth-of-type(8) {
    -moz-transform: rotate(315deg) translate(13em) rotate(-315deg);
    -ms-transform: rotate(315deg) translate(13em) rotate(-315deg);
    -webkit-transform: rotate(315deg) translate(13em) rotate(-315deg);
    transform: rotate(315deg) translate(13em) rotate(-315deg);
  }
  .circle-container a {
    display: block;
    border-radius: 50%;

  }
  .circle-container img {
    display: block;
    width: 100%;
    border-radius: 50%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  .circle-container img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }

  .blur{
    -webkit-filter: blur(4px) grayscale(0.5); 
    -moz-filter: blur(4px) grayscale(0.5); 
    -o-filter: blur(4px) grayscale(0.5); 
    filter: blur(4px) grayscale(0.5);
    width: 100%;


  }

    
}
